.editorial{
	margin: oe_rem(40px) 0;
	@include oe_box-shadow;
	.bloc{
		position: relative;
		&:after,
		&:before{
			content: "";
			width: 0;
			height: 0;
			z-index: 0;
			margin: auto;
			opacity: 0.03; 
			background-color: $gray-darker;
			@include transition(); 
			@include position(absolute,0 ,initial ,0 ,initial);;
		}
		&:hover{
			&:after,
			&:before{ 
				width: 100%;
				height: 100%;
			}
		}
		.info{ 
			@include position(absolute, oe_rem(50px), initial, initial, oe_rem(35px));
			width: 50%;
			.title{
				color: $gray-darker; 
				font-size: oe_rem(24px);
				font-family: 'lemon-milk';  
				font-weight: initial;
				line-height: oe_rem(34px);
				text-transform: uppercase;  
				margin-bottom: oe_rem(20px);
			} 

			.description{
				p{
					color: $gray-darker;
					font-weight: 400;
					font-size: oe_rem(16px);
					line-height: oe_rem(24px);  
					margin-bottom: oe_rem(45px); 
				}
			} 
		} 

		.image {  
			width: 100%;
			height: 100%;
			img {
				display: block;
				margin: 0 auto;
				width: 100%; 
				height: auto;
				min-height: 100%;
			}
		}
	}

	@include media("<lg"){
		box-shadow: none; 
		.bloc{
			@include flex(flex-start, flex-start, column-reverse);
			.info{ 
				width: 100%;
				@include position(relative, 0, 0, 0, 0);  
				.title{ 
					margin: oe_rem(20px) 0;
				} 
			} 
			.image {  
				height: auto;
				img {
					height: auto;
				}
			}
		}
	}

	@include media("<md"){
		box-shadow: none;
		margin: oe_rem(15px) 0;
		.bloc{
			@include flex(flex-start, flex-start, column-reverse);
			.info{ 
				width: 100%;
				@include position(relative, 0, 0, 0, 0);
				.title{
					font-size: oe_rem(24px);
					line-height: oe_rem(34px);
					margin: oe_rem(16px) 0;
				} 
				.description{
					p{
						font-size: oe_rem(16px);
						line-height: oe_rem(24px);  
						margin-bottom: oe_rem(16px); 
					}
				} 
			} 
			.image {  
				height: auto;
				img {
					height: auto;
				}
			}
		}
	}
	
}


